<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".GymApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.GymApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDhto5Ivs70eR_4ValuGdsg-UYNQ95AD6M" />
            
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.GymApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <!-- Deep link handler for payment redirect -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Matches gymapp://payment/result -->
                <data android:scheme="gymapp" android:host="payment" android:pathPrefix="/result" />
            </intent-filter>
        </activity>
    </application>

</manifest>
